@font-face {
    font-family: 'baybayin'; /* Specify a unique name for the font */
    src: url('Baybayin BTB30.woff') format('woff'); /* Path to the WOFF font file */
    src: url('Baybayin BTB30.woff2') format('woff2'); /* Path to the WOFF font file */
    /* You can also include font-weight and font-style properties if needed */
}